
<!-- <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand ps-3" href="#">&nbsp;&nbsp;&nbsp;&nbsp;CLINICA PADMA</a>
    <button class="btn btn-link  order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
    </form>
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">Perfil</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" routerLink="/login"ref="#!">Cerrar Sesíon</a></li>
            </ul>
        </li>
    </ul>
</nav> -->

<!-- <div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <br>
                    <div class="admin-block d-flex">
                        <div>
                            <img th:src="" width="30px" />
                        </div>
                        <div class="admin-info">
                            <div class="font-strong">{{usuario.nombres}} {{usuario.apellidos}}</div><small class="m-4">{{rolInicioSesion}}</small>
                        </div>
                    </div>

                    <div class="sb-sidenav-menu-heading">Menu</div> -->

                    <!-- <a class="nav-link collapsed" 
                        routerLink="/dashboard" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="sidebar-item-icon fa fa-bookmark"></i></div>
                        Home
                        <div class="sb-sidenav-collapse-arrow"></div>
                    </a> -->

                    <!-- <a *ngIf="rolInicioSesion == 'Administrador' || rolInicioSesion == 'Psicologo'" class="nav-link collapsed" 
                            routerLink="/dashboard/pacientes"  data-bs-toggle="collapse" 
                            data-bs-target="#collapseLayouts" aria-expanded="false" 
                            aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="sidebar-item-icon fa fa-users"></i></div>
                        Pacientes
                        <div class="sb-sidenav-collapse-arrow"></div>
                    </a>

                    <a *ngIf="rolInicioSesion == 'Administrador' || rolInicioSesion == 'Psicologo' || rolInicioSesion == 'Asistente' "  class="nav-link collapsed"
                            routerLink="/dashboard/citas"  data-bs-toggle="collapse" 
                            data-bs-target="#collapseLayouts" aria-expanded="false"
                            aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="sidebar-item-icon fa fa-table"></i></div>
                        Citas
                        <div class="sb-sidenav-collapse-arrow"></div>
                    </a> -->

                    <!-- <a *ngIf="rolInicioSesion == 'Administrador'" class="nav-link collapsed" 
                        routerLink="/dashboard/reportes"  data-bs-toggle="collapse" 
                        data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="sidebar-item-icon fa fa-bar-chart"></i></div>
                        Reportes
                        <div class="sb-sidenav-collapse-arrow"></div>
                    </a> -->

                    <!-- <a *ngIf="rolInicioSesion == 'Administrador'" class="nav-link collapsed" 
                        routerLink="/dashboard/usuarios"  data-bs-toggle="collapse" 
                        data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="sidebar-item-icon fa fa-user"></i></div>
                        Usuario
                        <div class="sb-sidenav-collapse-arrow"></div>
                    </a>
                </div>
            </div>


            <div class="sb-sidenav-footer">
                <div class="small">PADMA V1</div>
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <router-outlet></router-outlet>
            </div>
        </main> -->
        <!-- <footer class="py-4 bg-light mt-auto" style="
            position: relative;">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2022</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer> -->
    <!-- </div>
</div> -->

        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">

        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />

        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
            <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
        <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet"> -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <link href="/assets/css/app.css" rel="stylesheet">

        <div class="wrapper">

            <!-- MENU  -->
            <nav id="sidebar" class="sidebar js-sidebar">
                
                <div class="sidebar-content js-simplebar">
        
                    <a class="sidebar-brand" href="index.html">
                        <span class="sidebar-brand-text align-middle">
                            CLINICA PADMA
                        </span>
                    </a>
        
                    <div class="row">
                        <div class="d-flex justify-content-center" style="margin-left: 23px">
                            <div class="flex-shrink-0">
                                <img src="/assets/imagen/userdefault.png" class="avatar img-fluid rounded me-1" alt="Charles Hall" />
                            </div>
                            <div class="flex-grow-1 ps-2">
                                <a class="sidebar-user-title" href="#">
                                    {{usuario.nombres}} {{usuario.apellidos}}
                                </a>
                                <div class="sidebar-user-subtitle">{{rolInicioSesion}}</div>
                            </div>
                        </div>
                    </div>
            
        
                    <ul class="sidebar-nav">
        
                        <li class="sidebar-header">
                                Menu
                        </li>
        
                        <li class="sidebar-item" *ngIf="rolInicioSesion == 'Administrador' || rolInicioSesion == 'Psicologo'">
                            <a class="sidebar-link" routerLink="/dashboard/pacientes">
                                <i class="fa-solid fa-users fa-lg"></i> <span class="align-middle">Paciente</span>
                            </a>
                        </li>
        
        
                        <li class="sidebar-item" *ngIf="rolInicioSesion == 'Administrador' || rolInicioSesion == 'Psicologo' || rolInicioSesion == 'Asistente' ">
                            <a class="sidebar-link" routerLink="/dashboard/citas">
                                <i class="fa-solid fa-calendar-days fa-lg"></i> <span class="align-middle">Citas</span>
                            </a>
                        </li>
        
                        <li class="sidebar-item" *ngIf="rolInicioSesion == 'Administrador'">
                            <a class="sidebar-link"  routerLink="/dashboard/usuarios">
                                <i class="fa-solid fa-user fa-lg"></i> <span class="align-middle">Usuario</span>
                            </a>
                        </li>
                    </ul>
        
                    <div class="sidebar-cta">
                        <ul class="sidebar-nav">
                            <li class="sidebar-item">
                                <a class="sidebar-link" routerLink="/login">
                                    <i class="fa-solid fa-right-from-bracket fa-lg"></i>
                                    <span class="align-middle">Salir</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        
            <div class="main">
        
                <!-- NAVAR -->
                <nav class="navbar navbar-expand navbar-dark navbar-bg">
                    <a class="sidebar-toggle js-sidebar-toggle">
                          <i class="hamburger align-self-center"></i>
                    </a>
                    <div class="navbar-collapse collapse">
                        <ul class="navbar-nav navbar-align">
                            <li class="nav-item dropdown">
                                <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" data-bs-toggle="dropdown">
                                    <i class="align-middle" data-feather="settings"></i>
                                </a>
        
                                <a class="nav-link dropdown-toggle d-none d-sm-inline-block" data-bs-toggle="dropdown">
                                    <img src="/assets/imagen/userdefault.png" class="avatar img-fluid rounded me-1" alt="Charles Hall" /> <span class="text-dark">{{usuario.nombres}} {{usuario.apellidos}}</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item"><i class="align-middle me-1" data-feather="user"></i> Perfil</a>
                                    <div class="dropdown-divider"></div>
                                    
                                    <a class="dropdown-item" routerLink="/login"ref="#!">Cerrar Sesíon</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
        
                <!-- CONTENIDO PRINICIPAL -->
                <main>
                    <div class="container-fluid px-4">
                        <router-outlet></router-outlet>
                    </div>
                </main>
        
                <!-- <footer class="footer">
                    <div class="container-fluid">
                        <div class="row text-muted">
                            <div class="col-6 text-start">
                                <p class="mb-0">
                                    <a class="text-muted" target="_blank"><strong>Padma</strong></a> - <a class="text-muted" target="_blank"><strong>V 01</strong></a>								&copy;
                                </p>
                            </div>
                        </div>
                    </div>
                </footer> -->
            </div>
            
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="/assets/js/app.js"></script>

