
<h1 mat-dialog-title>Nuevo Usuario</h1>
<div class="row">
    <div class="col-6">
        <mat-form-field  appearance="fill">
            <mat-label>Ingrese Nombre</mat-label>
            <input class="input" matInput>
        </mat-form-field>
    </div>
    <div class="col-6">
        <mat-form-field  appearance="fill">
            <mat-label>Ingrese Apellidos</mat-label>
            <input class="input" matInput>
        </mat-form-field>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <mat-form-field  appearance="fill">
            <mat-label>Ingrese Dni</mat-label>
            <input class="input" matInput>
        </mat-form-field>
    </div>
    <div class="col-6">
        <mat-form-field  appearance="fill">
            <mat-label>Ingrese Contraseña</mat-label>
            <input class="input" matInput>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <mat-form-field  appearance="fill">
        <mat-label>Correo</mat-label>
        <input class="input" matInput placeholder="pat@example.com"  required>
    </mat-form-field>
</div>

<div class="row">
    <div class="col-6">
        <label class="form-label">Roles<sup><i class="fa fa-asterisk"></i></sup></label>
        <section class="example-section">
            <p><mat-checkbox formControlName="pepperoni">Administrador</mat-checkbox></p>
            <p><mat-checkbox formControlName="extracheese">Asistente</mat-checkbox></p>
            <p><mat-checkbox formControlName="mushroom">Psicologo</mat-checkbox></p>
        </section>
    </div>
    <div class="col-6">

        <div class="row">
            <div class="col-6">
                <label class="form-label">Estado<sup><i class="fa fa-asterisk"></i></sup></label>
                <br>
                <mat-radio-button >Activo</mat-radio-button>
                <p class="mb-2"></p>
                <mat-radio-button >Bloqueado</mat-radio-button>
            </div>
            <div class="col-6">
            </div>
        </div>
    </div>
</div>
<div >
<div class="row">
    <div class="col text-end">
        <button class="btn btn-secondary m-2" mat-dialog-close>Cancelar</button>
        <button class="btn btn-primary" >Guardar</button>
    </div>
</div>







