
<h1 mat-dialog-title style="font-weight: 500;" >{{titulo}}</h1>
<form [formGroup]="pacienteForm"> <!---->

    <div class="row mb-2">
        <div class="col-md-6">
            <input type="hidden" formControlName="id">
            <mat-form-field  appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre">
            <mat-error class="mensaje" *ngIf="pacienteForm.get('nombre')?.invalid && 
            pacienteForm.get('nombre')?.errors && 
            (pacienteForm.get('nombre')?.dirty || pacienteForm.get('nombre')?.touched)">
                <small class="text-danger"
                *ngIf="pacienteForm.get('nombre')?.hasError('required')">
                El campo nombre es requerido
                </small>
            </mat-error>
        </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field  appearance="fill">
                <mat-label>Apellidos</mat-label>
                <input matInput  formControlName="apellidos">
                <mat-error *ngIf="pacienteForm.get('apellidos')?.invalid && 
                pacienteForm.get('apellidos')?.errors && 
                (pacienteForm.get('apellidos')?.dirty || pacienteForm.get('apellidos')?.touched)">
                    <small class="text-danger"
                    *ngIf="pacienteForm.get('apellidos')?.hasError('required')">
                    El campo es requerido
                    </small>
                </mat-error>
            </mat-form-field>
        </div>

    </div>

    <div class="row mb-2">

        <div class="col-md-6">
            <mat-form-field appearance="fill" >
                <mat-label>Fecha Nacimiento</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="fechanacimiento">
                <mat-datepicker-toggle matSuffix [for]="picker1">
                </mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <mat-form-field  appearance="fill">
                <mat-label>Documento Identidad</mat-label>
                <input type="number" matInput  formControlName="documento">
                <mat-error *ngIf="pacienteForm.get('documento')?.invalid && 
                pacienteForm.get('documento')?.errors && 
                (pacienteForm.get('documento')?.dirty || pacienteForm.get('documento')?.touched)">
                    <small class="text-danger"
                    *ngIf="pacienteForm.get('documento')?.hasError('required')">
                    El campo documento es requerido
                    </small>
                </mat-error>
            </mat-form-field>
        </div>

    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <mat-form-field  appearance="fill">
                <mat-label>Sexo</mat-label>
                <mat-select formControlName="sexo" name="sexo">
                    <mat-option value="Masculino">Masculino</mat-option>
                    <mat-option value="Femenino">Femenino</mat-option>
                </mat-select>
                <mat-error class="mensaje" *ngIf="pacienteForm.get('sexo')?.invalid && 
                pacienteForm.get('sexo')?.errors && 
                (pacienteForm.get('sexo')?.dirty || pacienteForm.get('sexo')?.touched)">
                <mat-error *ngIf="pacienteForm.get('sexo')?.hasError('required')">Campo sexo es requerido</mat-error>                 
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <mat-form-field appearance="fill">
                <mat-label>Estado Civil</mat-label>
                <mat-select formControlName="estadocivil" name="estadocivil">
                  <mat-option *ngFor="let est of estadocivil" [value]="est.id">
                    {{est.descripcion}}
                  </mat-option>
                </mat-select>
                <mat-error class="mensaje" *ngIf="pacienteForm.get('estadocivil')?.invalid && 
                pacienteForm.get('estadocivil')?.errors && 
                (pacienteForm.get('estadocivil')?.dirty || pacienteForm.get('estadocivil')?.touched)">
                    <mat-error *ngIf="pacienteForm.get('estadocivil')?.hasError('required')">Campo Estado civil es requerido</mat-error>                 
                </mat-error>               
            </mat-form-field>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <mat-form-field appearance="fill">
                <mat-label>Ocupación</mat-label>
                <mat-select formControlName="ocupacion" name="ocupacion">
                  <mat-option *ngFor="let ocup of ocupaciones" [value]="ocup.id">
                    {{ocup.descripcion}}
                  </mat-option>
                </mat-select>
                <mat-error class="mensaje" *ngIf="pacienteForm.get('ocupacion')?.invalid && 
                pacienteForm.get('ocupacion')?.errors && 
                (pacienteForm.get('ocupacion')?.dirty || pacienteForm.get('ocupacion')?.touched)">
                    <mat-error *ngIf="pacienteForm.get('ocupacion')?.hasError('required')">Campo sexo es requerido</mat-error>                 
                </mat-error>               
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <mat-form-field  appearance="fill">
                <mat-label>Telefono</mat-label>
                <input matInput  formControlName="telefono">
                <mat-error *ngIf="pacienteForm.get('telefono')?.invalid && 
                pacienteForm.get('telefono')?.errors && 
                (pacienteForm.get('telefono')?.dirty || pacienteForm.get('telefono')?.touched)">
                    <small class="text-danger"
                    *ngIf="pacienteForm.get('telefono')?.hasError('required')">
                    El campo telefono es requerido
                    </small>
                </mat-error>
            </mat-form-field>
        </div>

    </div>

    <div class="row mb-2">

        <div class="col-md-6">
            <mat-form-field  appearance="fill">
                <mat-label>Distrito</mat-label>
                <input matInput  formControlName="distrito">
                <mat-error *ngIf="pacienteForm.get('distrito')?.invalid && 
                pacienteForm.get('distrito')?.errors && 
                (pacienteForm.get('distrito')?.dirty || pacienteForm.get('distrito')?.touched)">
                    <small class="text-danger"
                    *ngIf="pacienteForm.get('distrito')?.hasError('required')">
                    El campo distrito es requerido
                    </small>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <mat-form-field  appearance="fill">
                <mat-label>Direccion actual</mat-label>
                <input matInput  formControlName="direccion">
                <mat-error *ngIf="pacienteForm.get('direccion')?.invalid && 
                pacienteForm.get('direccion')?.errors && 
                (pacienteForm.get('direccion')?.dirty || pacienteForm.get('direccion')?.touched)">
                    <small class="text-danger"
                    *ngIf="pacienteForm.get('direccion')?.hasError('required')">
                    El campo direccion es requerido
                    </small>
                </mat-error>
            </mat-form-field>
        </div>
        
    </div>

    <div class="row mb-2">
        <div class="col text-end">
            <button class="btn btn-secondary m-2" mat-dialog-close>Cancelar</button>
            <button class="btn btn-primary" type="submit" (click)="guardarPaciente()" [disabled]="pacienteForm.invalid">{{tituloBoton}}</button>
        </div>
    </div> 

</form>







  
  



